$blue: #31c3bd;
$light-blue: #65e9e4;
$dark-blue: #118c87;
$main: #1a2a33;
$secondary: #1f3641;
$yellow: #f2b137;
$dark-yellow: #cc8b13;
$light-yellow: #ffc860;
$grey: #a8bfc9;
$light-grey: #dbe8ed;
$dark-grey: #6b8997;
