.container {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: auto 0;
    align-items: center;
    gap: 18px;

    a {
        width: 100%;
        text-decoration: none;
    }

    button {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 460px;
    }
}
