@use "./colors.scss" as *;

.button {
    box-sizing: border-box;
    display: inline-flex;
    background-color: $grey;
    box-shadow: 0px 4px 0px 0px $dark-grey;
    justify-content: center;
    border: 0;
    margin-left: auto;

    cursor: pointer;
    text-decoration: none;
    border: 0;
    line-height: 1;
    border-radius: 13px;
    width: 42px;
    height: 42px;
    img {
        height: 16px;
        margin: auto;
    }

    &:hover,
    &:focus {
        background-color: $light-grey;
        outline: none;
    }
}

@media (min-width: 768px) {
    .button {
        width: 52px;
        height: 52px;
        img {
            height: 18px;
        }
    }
}
