@use "./colors.scss" as *;

.roundOver {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
    height: 300px;
    background-color: $secondary;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nextRound {
    display: flex;
}
