@use "./colors.scss" as *;

.tile {
    background-color: $secondary;
    box-shadow: 0px 2px 0px 0px #10212a;
    min-width: 25px;
    min-height: 25px;
    border-radius: 2px;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        width: 20px;
        height: 20px;
    }
}
